.wrapper-gallery
{
  margin: 0 20vw;  
}
#index-gallery{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: 
    "gallery-h2 gallery-h2 gallery-h2"
    "img1 img2 img3"
    "img4 img5 img6"
    "img7 img8 img9" 
    "img10 img11 img12"
    "img13 img14 img15"
    "img16 img17 img18";
}

#index-gallery .gallery-img {
   width: 100%;
   height: 250px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   cursor: pointer;
}
/*imahes*/
#index-gallery h2{
    grid-area: gallery-h2;
}

#index-gallery .img1{
    grid-area: img1;
    background-image: url("infant/thum/img1.jpg");
} 
#index-gallery .img2{
    grid-area: img2;
    background-image: url("infant/thum/img2.jpg");
} 
#index-gallery .img3{
    grid-area: img3;
    background-image: url("infant/thum/img3.jpg");
} 
#index-gallery .img4{
    grid-area: img4;
    background-image: url("infant/thum/img4.jpg");
} 
#index-gallery .img5{
    grid-area: img5;
    background-image: url("infant/thum/img5.jpg");
} 
#index-gallery .img6{
    grid-area: img6;
    background-image: url("infant/thum/img6.jpg");
} 
#index-gallery .img7{
    grid-area: img7;
    background-image: url("infant/thum/img7.jpg");
} 
#index-gallery .img8{
    grid-area: img8;
    background-image: url("infant/thum/img8.jpg");
} 
#index-gallery .img9{
    grid-area: img9;
    background-image: url("infant/thum/img9.jpg");
} 
#index-gallery .img10{
    grid-area: img10;
    background-image: url("infant/thum/img10.jpg");
} 
#index-gallery .img11{
    grid-area: img11;
    background-image: url("infant/thum/img11.jpg");
} 
#index-gallery .img12{
    grid-area: img12;
    background-image: url("infant/thum/img12.jpg");
} 

#index-gallery .img13{
    grid-area: img13;
    background-image: url("infant/thum/img13.jpg");
} 
#index-gallery .img14{
    grid-area: img14;
    background-image: url("infant/thum/img14.jpg");
} 
#index-gallery .img15{
    grid-area: img15;
    background-image: url("infant/thum/img15.jpg");
} 
#index-gallery .img16{
    grid-area: img16;
    background-image: url("infant/thum/img16.jpg");
} 
#index-gallery .img17{
    grid-area: img17;
    background-image: url("infant/thum/img17.jpg");
} 
#index-gallery .img18{
    grid-area: img18;
    background-image: url("infant/thum/img18.jpg");
} 


/*Gallery image title*/
.gallery-img div {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-img a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;      
}
.gallery-img div:hover {
    opacity: 0.7;
    transition: all ease-in-out 100ms;
}
/*Pop-up Window*/
.img-window {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.img-window img {
    max-height: 80vh;
    max-width: 80vw;
}

/*Buttons*/
.img-btn-next {
    display: block;
    position: fixed;
    top: 48vh;
    z-index: 500;
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #fff;
    opacity: 0.7;
    right: 0;
    margin-right: 10px;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
    cursor: pointer;
}

.img-btn-next:hover {
    opacity: 0.6;
}

.img-btn-prev {
    display: block;
    position: fixed;
    top: 48vh;
    z-index: 500;
    border-width: 20px 30px 20px 0;
    border-color: transparent #fff transparent transparent;
    opacity: 0.7;
    left: 0;
    margin-left: 30px;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
    cursor: pointer;
}
.img-btn-prev:hover {
    opacity: 0.9;
}